.effectiveness {
  text-align: center;
  line-height: 1.5rem;
  &.immune {
    font-size: 2rem;
    color: #f00;
  }
  &.weak {
    font-size: 1rem;
    color: #c7c;
  }
  &.super-effective {
    font-size: 1.5rem;
    color: #080;
  }
}
